/*
	UTILITY STYLES
*/				  				  
					  				  
.floatLeft 									{ float: left; margin-right: 10px;}
.floatRight									{ float: right; }
.clear 										{ clear: both; }
a											{ outline: none; }


/*
	PAGE STRUCTURE
*/
#page-wrap 									{ width: 500px; margin: 25px auto; position: relative; min-height: 500px;
											  background: url(images_sample/bg.png) top center; }


/*
	TYPOGRAPHY
*/
blockquote									{ padding: 0 20px; margin-left: 20px; border-left: 20px solid #ccc; font-size: 14px; 
									  		  font-family: Georgia, serif; font-style: italic; margin-top: 10px;}

/*
	SLIDER
*/
.slider-wrap								{ width: 620px; position: absolute;}			
.stripViewer .panelContainer 
.panel ul									{ text-align: left; margin: 0 15px 0 30px; }
.stripViewer								{ position: relative; overflow: hidden; width: 620px; height: 285px; }
.stripViewer .panelContainer				{ position: relative; left: 0; top: 0; }
.stripViewer .panelContainer .panel			{ float: left; height: 100%; position: relative; width: 620px; }
.stripNavL, .stripNavR, .stripNav			{ display: none; }
.nav-thumb 									{ border: 1px solid black; margin-right: 5px; }
#movers-row									{ margin: 0 0 0 -14px; }
#movers-row div								{     float: left;
    height: 43px;
    overflow: hidden;
    width: 12%; }
#movers-row div a.cross-link 				{ float: right; }
.photo-meta-data							{ background: url(images_sample/transpBlack.png); padding: 10px; height: 30px; 
											  margin-top: -50px; position: relative; z-index: 9999; color: white; }
.photo-meta-data span 						{ font-size: 13px; }
.cross-link									{ display: block; width: 62px; margin-top: -14px; 
											  position: relative; padding-top: 15px; z-index: 9999; }
.active-thumb 								{ background: transparent url(images_sample/icon-uparrowsmallwhite.png) top center no-repeat; }



/*******TABBER*********/

.sliding {
    border: 1px solid #DCE1E9;
    width: 800px;
}
.slidingtabs {
    border-bottom: 1px solid #DCE1E9;
    float: left;
    font-size: 12px;
    width: 800px;
}
.slidingtabs li {
    border-right: 1px solid #DCE1E9;
    float: left;
}
.slidingtabs li a {
    background: none repeat scroll 0 0 #F1F3F6;
    color: #333333;
    display: block;
    font-weight: bold;
    padding: 10px 15px;
}
.slidingtabs li a.current {
    background: none repeat scroll 0 0 #FFFFFF;
    bottom: -1px;
    color: #859E0F;
    padding: 9px 15px 11px;
    position: relative;
}
.navigate {
    position: absolute;
    right: 2px;
    top: -27px;
}
.navigate li {
    float: left;
    margin: 0 5px 0 0;
}
.disabled {
    cursor: default;
}
.scrollable {
    height: 240px;
    overflow: hidden;
    position: relative;
    width: 800px;
}
.scrollable .items {
    position: absolute;
    width: auto
}
.slidingposts {
    float: left;
}
.slidingposts li {
    float: left;
    font-size: 12px;
    padding: 15px;
    width: 138px;
}
.scrollable .items div {
    float: left;
}
.slidingposts .image {
    position: relative;
}
.fancybox-zoom {
    position: relative;
}
.slidingposts .image img, .slidingposts .image a {
    display: block;
    overflow: hidden;
}


.zoom-overlay {
    background: url("images/zoom.png") no-repeat scroll center center transparent;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2147483647;
}
.slidingposts .title {
    font-size: 11px;
    font-weight: bold;
    line-height: 1.4em;
    margin: 7px 0 0;
}
